<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandipan</title>
    <link rel="stylesheet" href="/static/sandy.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<!-- <script src="{{ url_for('static', filename='sandy.js') }}"></script> -->
</head>
<body>
    <center><h2>Thanks for reaching out. You will be contacted back soon.</h2></center>
</body>